.textHead {
    color: #1976d2;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    margin-top: 40px;
}

.form-create-questions{
    /*border: 1px solid red;*/
    min-height: 180px;
    width: 750px;
    margin: auto;
}

.inp-create{
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn-crete-test-results {
    margin-top: 20px;
    margin-left: 250px;
    width: 400px;
}

.btn-add-question {
    margin-left: 230px;
    margin-top: 20px;
    width: 230px;
}