.textHead {
    color: #1976d2;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 40px;
}

.form-create-test-results {
    /*border: 1px solid green;*/
    min-height: 240px;
    width: 705px;
    margin: auto;
}

.btn-add-result {
    margin-left: 240px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 230px;
}