.my-test-page {
    /*border: 1px solid green;*/
    width: 1000px;
    height: 400px;
    margin: 30px auto auto;
}

.new-test {
    margin-left: 415px;
}

.content {
    /*border: 1px solid green;*/
    width: 900px;
    min-height: 200px;
    margin-top: 20px;
}